.gitignore
.github
*.sublime-project
*.sublime-workspace
._*
.vscode/
.vs/
.DS_Store
__*__
ignore/
python/test/xstudio.log
python/src/xstudio/version.py
*.egg-info/
docs/Doxyfile
docs/conf.py
build/
__build/
__build_debug/
build_rel/
build_dbg/
xstudio_install
CMakeUserPresets.json
aqtinstall.log
build_logs/
CMakeUserPresets.json.bak
